@charset "UTF-8";
/******** TIPOS *******/
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.eot?v=4.4.0");
  src: url("../fonts/OpenSans-Regular.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2?v=4.4.0") format("woff2"), url("../fonts/OpenSans-Regular.woff?v=4.4.0") format("woff"), url("../fonts/OpenSans-Regular.ttf?v=4.4.0") format("truetype"), url("../fonts/OpenSans-Regular.svg?v=4.4.0") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.eot?v=4.4.0");
  src: url("../fonts/OpenSans-Light.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2?v=4.4.0") format("woff2"), url("../fonts/OpenSans-Light.woff?v=4.4.0") format("woff"), url("../fonts/OpenSans-Light.ttf?v=4.4.0") format("truetype"), url("../fonts/OpenSans-Light.svg?v=4.4.0") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Semibold.eot?v=4.4.0");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2?v=4.4.0") format("woff2"), url("../fonts/OpenSans-Semibold.woff?v=4.4.0") format("woff"), url("../fonts/OpenSans-Semibold.ttf?v=4.4.0") format("truetype"), url("../fonts/OpenSans-Semibold.svg?v=4.4.0") format("svg");
  font-weight: 600;
  font-style: normal; }

@-webkit-keyframes preload {
  from {
    background-position: left top; }

  to {
    background-position: right top; } }

@keyframes preload {
  from {
    background-position: left top; }

  to {
    background-position: right top; } }

