/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.portlet-dockbar .collapse {
  display: block; }

.clear {
  clear: both; }

/* GLOBAL STYLES
-------------------------------------------------- */
.aui body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #FAFAFA; }

header .navbar {
  min-height: 100%; }
  header .navbar .collapse {
    display: block; }
header .dropdown-menu {
  margin: 0;
  display: block; }
  header .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px; }
  header .dropdown-menu .sub-dropdown-menu {
    left: inherit;
    right: -100%;
    top: 0; }
  header .dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block; }
header .dropdown:hover .dropdown-menu {
  display: block; }
  header .dropdown:hover .dropdown-menu .dropdown-menu {
    display: none; }
header .dropdown:hover li.dropdown-submenu:hover .dropdown-menu {
  display: block; }
header .nav-tabs .dropdown-menu,
header .nav-pills .dropdown-menu,
header .navbar .dropdown-menu {
  margin-top: 0; }
header .navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px; }
header .navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px; }
header .navbar-toggle {
  background-color: #0080C7;
  color: #fff;
  border: 0; }
header .navbar-toggle:hover {
  background-color: #4A7AA2;
  color: #fff; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* CAROUSEL BOOTSTRAP
.carousel.slide{

  .item{
    height:100%;

    img{
      width:100%;
    }
  }


}
*/
.carousel_alloy {
  width: 100%;
  /* Carousel base class */ }
  .carousel_alloy .carousel .container {
    position: relative;
    z-index: 9; }
  .carousel_alloy .carousel-item {
    height: 100%;
    width: 100%;
    background-size: 100% auto !important; }
    .carousel_alloy .carousel-item h1 {
      border: #FFF dashed 1px;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      margin: 20px;
      padding: 20px; }
  .carousel_alloy .carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: transparent;
    border: 0;
    z-index: 10; }
  .carousel_alloy .carousel .item {
    height: 500px; }
  .carousel_alloy .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px; }
  .carousel_alloy .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px; }
  .carousel_alloy .carousel-caption h1,
  .carousel_alloy .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
  .carousel_alloy .carousel-caption .btn {
    margin-top: 10px; }

